#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hiragana, .katakana {
  display: flex;
  flex-direction: column;
}

.header {
  color: yellow;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0.15em;
}

.row * {
  width: 4em;
  margin: 0 0.15em;
}

