#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
}

.header {
  color: yellow;
}

.helper-buttons {
  /* float: left; */
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0.15em;
}

.row * {
  width: 4em;
  margin: 0 0.15em;
}

.char-button-selected {
  background-color: orange;
}

.character-study {
  display: flex;
  flex-direction: column;
}

.character-study * {
  margin: 0.125rem;
}

.current-char {
  font-size: 10rem;
}

.character-study input {
  text-align: center;
  height: 5rem;
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
}